%h1 Respond to add items
%ul
  %li Lines starting with '+ ' will be added
  %li Type 'UNSUBSCRIBE_ME' into the body to be unsubscribed
  %li 
    To add a 
    %em "release" date, 
    just follow your item with ">>"
  %ul 
    %li ">> 2" -- releases item in 2 days
    %li ">> 10/24" -- releases item on October 24th of this year
    %li ">> 10/24/15" -- releases item on Oct 24th, 2015 ('2015' also works)