%h4 We just received a message from #{@email}, but that address isn't in our records.

%p If you'd like to start using ToDone, please head over to ToDone.us and create an account with that email address. 

%p If you think we're in error, let me know,

%p= mail_to "sashafklein@gmail.com", "Sasha"