%h1 Respond to add/remove items
%ul
  %li Lines starting with '+' will be added
  %li Remove lines by typing '-' followed by the item number (eg '-4')
  %li Type 'UNSUBSCRIBE ME' as its own line to be unsubscribed

%h1 Today's List
%table.item_list
  %tr 
    %th Item Number
    %th.description Description
    %th.days Days Before Archived
  - @items.each do |item|
    %tr
      %td.description= item.id
      %td.days= item.description
      %td.done= item.days_left