%h1 Respond to add/remove items
%ul
  %li Lines starting with '+' will be added
  %li Remove lines by typing '-' followed by the item number (eg '-4')
  %li Type 'UNSUBSCRIBE ME' as its own line to be unsubscribed
  %li 
    To add a 
    %em "release" date, 
    just follow your item with ">>"
  %ul 
    %li ">> 2" -- releases item in 2 days
    %li ">> 10/24" -- releases item on October 24th of this year
    %li ">> 10/24/15" -- releases item on Oct 24th, 2015 ('2015' also works)

%h1 Today's List
%table.item_list
  %tr 
    %th Item Number
    %th.description Description
    %th.days Days Before Archived
  - @items.each do |item|
    %tr
      %td.description= item.id
      %td.days= item.description
      %td.done= item.email_days_left 