%p If you have any feedback at all, please let me know. 
%p And if you want to be resubscribed, just email todo@todone.com with the subject "RESUBSCRIBE ME",
%p= mail_to "sashafklein@gmail.com", "Sasha"