.page-header  
  %h1 ToDone
  %h4
    %em A destructive to-do list.

%h2 What makes ToDone any better?
.rule
  %h3 Impermanent
  %p 
    Your to-do items need to mean something in order to be useful. They need to be specific and achievable. The easiest way to make sure that's the case is to apply a deadline. Get your task done in 
    %em 3 days, 
    or it'll slip into the archive, to be remembered on your own or never acheived. Yup, I'll trash your to-do lists.
.rule
  %h3 Unique
  %p 
    Impermanence is nothing if you can just throw a soon-to-expire item back on the list. So I don't let you. Checking for word and letter similarity, 
    %strong ToDone 
    makes it difficult for you to keep an item on the list -- incentivizing you to 
    %em just get it done. 
    Yeah. You can figure your way around this, but you'll have to work on it -- and wouldn't it be easier to just get the task done?
.rule
  %h3 Obtrusive
  %p 
    To do lists aren't useful if they stay out of your way. So 
    %strong ToDone 
    makes sure it's noticed. Every morning, you're sent a 
    %em uniquely titled email 
    that'll stand out on its own, at the top of your inbox, bugging you to actually get shit done. No opening another app, or forgetting those sticky notes in the corner.

.center_button= link_to "Get Started", '#', class: center_button
