= form_for [@user, @item] do |f|
  - if @item.errors.any?
    - @item.errors.full_messages.each do |msg|
      .error_group
        %i.icon-warning-sign
        %p= msg
      
  .form-group
    = f.text_field :description, placeholder: 'Take over the world...'
  = f.submit '+ Add New', class: center_button("primary", "normal")

