!!!
%html
  %head
    %title Todone
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %meta{ name: "viewport" content: "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
  %body
    .row
      .col-lg-2
      .col-lg-8.page
        = yield
      .col-lg-2