!!!
%html
  %head
    %title Todone
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .span2
    .span8.page
      = yield
    .span2